body{
    padding: 0;
    margin: 0;
}

nav{
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

/* ********** nav-top ********* */
.nav-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}
.searchIcon{
    margin-left: 10px;
}
.searchInput{
    border: none;
    background-color: transparent;
    font-size: 15px;
}
.searchInput::placeholder{
    color: lightgray;
}

.limitedoffer{
    font-size: 20px;
    border-bottom: 2px solid greenyellow;
    cursor: pointer;
}

/* ********* nav-bottom ********* */

.nav-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    margin-right: 50px;
    color: lightgray;
    cursor: pointer;
    font-weight: 400;
}